<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/stylemy.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>

<body class="">

    <div id="smiles" class="smiles invisible" command="idSmileAddCommand" style="top: calc(281.5px); left: 1042px;">
        <!-- <svg width="214" height="164">
        <rect x="4" y="4" rx="20" ry="20" width="200" height="150" style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
        
        </svg> -->



        <div id="smile0" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 0px; position: absolute; left: 0px; display: flex; align-items: center; cursor: pointer;">😊</div>
        <div id="smile1" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 0px; position: absolute; left: 40px; display: flex; align-items: center; cursor: pointer;">🔥</div>
        <div id="smile2" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 0px; position: absolute; left: 80px; display: flex; align-items: center; cursor: pointer;">❤</div>
        <div id="smile3" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 0px; position: absolute; left: 120px; display: flex; align-items: center; cursor: pointer;">😁</div>
        <div id="smile4" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 0px; position: absolute; left: 160px; display: flex; align-items: center; cursor: pointer;">👍</div>
        <div id="smile5" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 30px; position: absolute; left: 0px; display: flex; align-items: center; cursor: pointer;">😎</div>
        <div id="smile6" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 30px; position: absolute; left: 40px; display: flex; align-items: center; cursor: pointer;">😉</div>
        <div id="smile7" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 30px; position: absolute; left: 80px; display: flex; align-items: center; cursor: pointer;">😇</div>
        <div id="smile8" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 30px; position: absolute; left: 120px; display: flex; align-items: center; cursor: pointer;">🎉</div>
        <div id="smile9" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 30px; position: absolute; left: 160px; display: flex; align-items: center; cursor: pointer;">🙌</div>
        <div id="smile10" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 60px; position: absolute; left: 0px; display: flex; align-items: center; cursor: pointer;">🌸</div>
        <div id="smile11" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 60px; position: absolute; left: 40px; display: flex; align-items: center; cursor: pointer;">🌹</div>
        <div id="smile12" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 60px; position: absolute; left: 80px; display: flex; align-items: center; cursor: pointer;">✅</div>
        <div id="smile13" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 60px; position: absolute; left: 120px; display: flex; align-items: center; cursor: pointer;">❌</div>
        <div id="smile14" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 60px; position: absolute; left: 160px; display: flex; align-items: center; cursor: pointer;">▶</div>
        <div id="smile15" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 90px; position: absolute; left: 0px; display: flex; align-items: center; cursor: pointer;">🙈</div>
        <div id="smile16" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 90px; position: absolute; left: 40px; display: flex; align-items: center; cursor: pointer;">❗</div>
        <div id="smile17" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 90px; position: absolute; left: 80px; display: flex; align-items: center; cursor: pointer;">🚙</div>
        <div id="smile18" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 90px; position: absolute; left: 120px; display: flex; align-items: center; cursor: pointer;">🚕</div>
        <div id="smile19" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 90px; position: absolute; left: 160px; display: flex; align-items: center; cursor: pointer;">🚩</div>
        <div id="smile20" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 120px; position: absolute; left: 0px; display: flex; align-items: center; cursor: pointer;">🚲</div>
        <div id="smile21" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 120px; position: absolute; left: 40px; display: flex; align-items: center; cursor: pointer;">🚶</div>
        <div id="smile22" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 120px; position: absolute; left: 80px; display: flex; align-items: center; cursor: pointer;">⌛</div>
        <div id="smile23" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 120px; position: absolute; left: 120px; display: flex; align-items: center; cursor: pointer;">☕</div>
        <div id="smile24" ку="param-pam-pam" style="width: 20px; height: 20px; margin-left: 10px; margin-top: 120px; position: absolute; left: 160px; display: flex; align-items: center; cursor: pointer;">🎁</div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="error"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="edit_commands">
                        <div class="send">
                            <div class="text">
                                <p id="error" class="error invisible"> Ошибка. Проверьте возможно команда существует</p>
                                <textarea id="idTextAddCommand" class="material_border" placeholder="Write a message..."></textarea>
                                <div class="smile_send">
                                    <a id="idSmileAddCommand" class="mdi mdi-panda menu-icon color smile" onmouseout="hideSmile(this)" onmouseover="showSmile(this)"><i class="icon icon-emoji"></i></a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button id="addCommand" type="button" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>


    <!-- modal-->
    <div class="container">


        <!-- partial -->
        <div class="container-fluid page-body-wrapper ">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar  " id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="assets/images/faces/face1.jpeg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">Kivi Ride</span>
                                <span class="text-secondary text-small">Manager</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="index">
                            <span class="menu-title">Комманды бота</span>
                            <i class="mdi mdi-settings-box menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item color_fon active">
                        <a class="nav-link" href="send">
                            <span class="menu-title">Рассылка</span>
                            <i class="mdi mdi-send menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item color_fon ">
                        <a class="nav-link" href="usersActive">
                            <span class="menu-title">Пользователели</span>
                            <i class="mdi  mdi-nature menu-icon"></i>


                        </a>
                    </li>



                </ul>



            </nav>
            <!-- partial -->







            <div id='history_card' class="history_card">

                <div class="add_command">
                    <div class="title_menedger_command">Рассылка пользователям</div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Добавить
                                </button>
                </div>




                <ul id="save_sends" class="save_commands">

                    <!-- <li class="shadow p-3 mb-5 bg-white rounded" id="listarted">
                        <div class="list_commands">
                            <div class="text"><textarea class="material_border save_text" placeholder="Write a message..." id="idTextstarted" disabled=""></textarea>
                                <div class="smile_send"><a id="idSmilestarted" class="mdi mdi-panda menu-icon invisible smile color" onmouseout="hideSmile(this)" onmouseover="showSmile(this)"><i class="icon icon-emoji"></i></a></div>
                            </div>
                            <div class="button edit color">
                                <div id="idButtonDisablestarted" class="show" style="
        display: flex;
        flex-direction: row;
        font-size: 16px;
    ">

                                    <div style="
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 130px;
">27.10.2020 15:33</div>

                                </div>
                            </div>
                        </div>
                    </li> -->









                </ul>




            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

            <!-- partial -->

            <!-- main-panel ends -->
        </div>

        <!-- <footer class="footer ">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
        </footer> -->






        <!-- page-body-wrapper ends -->

        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="assets/js/script-send.js"></script>
        <script src="assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="assets/vendors/chart.js/Chart.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="assets/js/off-canvas.js"></script>
        <script src="assets/js/hoverable-collapse.js"></script>
        <script src="assets/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="assets/js/dashboard.js"></script>
        <script src="assets/js/todolist.js"></script>
        <!-- End custom js for this page -->
    </div>


</body>

</html>